@charset "UTF-8";
body {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  font-size: 14px;
}

a {
  color: #333333;
  outline: none;
}

/* Шапка сайта */
/* Head menu line*/
.head-menu-line {
  border-bottom: 1px solid #e8e8e8;
  max-height: 38px;
}

.head-slogan {
  padding-top: 7px;
}

.head-slogan p {
  display: inline-block;
  color: #039;
}

.head-slogan p:first-child {
  padding-right: 10px;
  color: #c00;
}

.showsm {
  display: none;
}

.head-login {
  background: url(../img/icon_account.png) 0 9px no-repeat;
  padding-top: 8px;
  padding-bottom: 7px;
  padding-left: 24px;
  font-size: 13px;
  color: #000000;
}

.head-login a {
  color: #000000;
}

.head-cart.showsm {
  display: block;
}

#boxCart {
  padding-top: 6px;
}

#boxCart .dropdown {
  text-align: right;
}

#boxCart .dropdown-menu {
  font-size: 14px;
  left: auto;
  right: 0;
  top: 31px;
  width: 262px;
  border-radius: 0;
  border: none;
  -webkit-box-shadow: 1px 3px 15px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 1px 3px 15px 0px rgba(0, 0, 0, 0.15);
  padding: 0;
}

.btn-cart {
  text-align: left;
  background: url(../img/icon_cart.png) 0 0 no-repeat;
  padding: 1px 0 2px 30px;
  font-size: 13px;
  color: #000000;
}

.btn-cart:hover {
  color: #c00;
}

.btn-cart:focus {
  color: #c00;
}

.btn-cart:focus:active {
  color: #c00;
}

.btn-cart.active:focus {
  color: #c00;
}

.btn-cart.focus {
  color: #c00;
}

.btn-cart.focus:active {
  color: #c00;
}

.btn-cart .cart-head-count {
  font-size: 11px;
  color: #c00;
}

.dropdown-toggle::after {
  display: none;
}

.btn.focus, .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.cartempty {
  padding: 14px;
}

/*Логотип, адрес, телефон, обратка*/
.head-logo {
  padding-top: 20px;
  padding-bottom: 30px;
}

.head-address {
  padding-top: 15px;
  padding-bottom: 5px;
}

.address {
  padding: 0 0 5px 30px;
  background: url(../img/icon_map.png) 0 2px no-repeat;
  font-size: 16px;
}

.head-work {
  font-size: 11px;
  padding-top: 2px;
  color: #999999;
  font-weight: 400;
}

.head-work a {
  color: #c00;
  text-decoration: underline;
}

.head-work a:hover {
  text-decoration: none;
}

.head-work.red {
  color: #c00;
}

.head-phone {
  padding-top: 20px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.head-phone .telnumber {
  font-size: 16px;
  font-weight: 700;
  display: inline-block;
}

.head-phone .telnumber:first-child {
  padding: 0 0 0 30px;
  background: url(../img/icon_phone.png) 0 2px no-repeat;
  margin-left: 20px;
}

.head-phone .telnumber .separator {
  color: #999999;
  padding: 0 10px;
}

.head-callback {
  padding-top: 30px;
  padding-bottom: 25px;
}

.head-callback a {
  font-size: 14px;
}

.btn {
  margin-bottom: 5px;
  border-radius: 4px;
}

.btn:hover {
  background: #083289;
  border-color: #083289;
}

.btn-primary {
  background: #c00;
  border-color: #c00;
  color: #ffffff;
}

/*Главное меню*/
.head-menu-wrapper {
  background: #083289;
  border-radius: 2px;
}

/*Бокс поиска*/
.head-search {
  padding: 8px 8px 0 8px;
}

.pull-right {
  float: right !important;
}

.boxSearch {
  padding: 0;
  height: 28px;
  position: relative;
}

.boxSearchContent {
  border-radius: 2px;
  background: #ffffff;
  padding: 2px;
}

.boxSearchContent .btn {
  display: none;
}

.boxSearchContent .searchboxlabel {
  padding: 0;
}

.boxSearchContent .searchboxform {
  padding: 0;
}

.boxSearchContent .searchboxform input {
  border: none;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 86%;
  height: 24px;
}

.boxSearchContent label {
  float: right;
  display: block;
  height: 24px;
  font-size: 14px;
  line-height: 24px;
  color: #083289;
  width: 24px;
  text-align: center;
  margin: 0;
}

.boxSearchContent label:hover {
  cursor: pointer;
  color: #212121;
}

/*общее меню*/
.head-menu {
  /*==========  Desktop First  ==========*/
}

.head-menu a {
  color: #ffffff;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1199px) {
  /* Шапка сайта*/
  .head-menu-line {
    max-height: 58px;
  }
  .head-slogan p:first-child {
    margin-bottom: 0;
  }
  .head-login {
    margin-top: 10px;
  }
  .head-cart {
    margin-top: 10px;
  }
  /*Логотип, адрес, телефон, обратка*/
  .head-phone {
    padding: 20px 0;
  }
  .head-phone .telnumber .separator {
    padding: 0 6px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
  /*Логотип, адрес, телефон, обратка*/
  .head-logo {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 0;
  }
  .head-phone {
    padding-top: 10px;
    padding-bottom: 15px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  /*Шапка сайта*/
  .head-login {
    margin-top: 5px;
  }
  .head-cart {
    margin-top: 5px;
  }
  /*Логотип, адрес, телефон, обратка*/
  .head-callback {
    padding-top: 10px;
    padding-bottom: 5px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 479px) {
  /*Шапка сайта*/
  .hiddsm {
    display: none;
  }
  .showsm {
    display: block;
  }
  .telhsm {
    font-weight: bold;
    font-size: 20px;
  }
  .head-tel {
    margin-top: 10px;
  }
  .cart-head-text, .cart-head-count {
    display: block;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/
  .head-phone .telnumber .separator {
    padding: 0;
  }
}
/*# sourceMappingURL=main.css.map */