// Цвета 
$black: #000000 // Основной цвет текста
$white: #ffffff // Белей цвет
$red: #cc0000 // красный цвет текста
$blue: #003399 // синий цвет текста
$head-line: #e8e8e8 // Полоска head-line
$link-default: #333333 // ссылки по умолчанию
$time-work: #999999 // время работы в шапке
$accent: #083289 // основной цвет
$icon-color: #c3c3c3 // Цвет иконок
$cart-shadow: rgba(0, 0, 0, 0.15) // тень у выпадающей корзины
$imput-color: #666666 // цвет теста imput
$btn-s-hvr: #212121 // цвет btn hover поиска
$category-img: rgba(88, 137, 237, 0.25) // тень у img в категориях
$category-border: #5889ed // бордер у картинки в категориях
$overlay: rgba(22,64,150,0.75) // Цвет фона для всех всплывашик
$popup-bg: #164096 // фон popup окна
$popup-p: #cccccc // тег p в popup
$internal-shadow: rgba(0,0,0,0.125) // внутренняя тень кнопки в popup
$star-grey: #d4d4d4 // Серый цвет звездочки
$star-yellow: #ffda44 // Жолтый цвет звездочки
$itm-shadow: rgba(88,137,237,0.25) // тень карточки продукта
$discont-bg: #ed1c24 // фон скидки
$btn-border: #6590ff // border у кнопок карточки товара
$btn-bg-prdct: #b8cfff // фон у 3 кномки в карточке товара
$bg-quick-view: rgba(0,51,153,0.5) // фон быстрого просмотра
$brd-b: #e3e3e3 // border bottom у блоков скидки и лидеры продаж
$bg-bottom-t: #f8f8f8 // фон секции bottom-text
$h3-conditins: #040404 // цвет р3 в Условиях
$bg-footer: #164095 // фон футера
$border-menu-1: #222222 // цвет линии у меню на 767 первая половина
$border-menu-2: #214795 // цвет линии у меню на 767 вторая половина
$product-itm: #e8e8e8 // border у карточки товара
$product-btn: #03c // цвет ссылок у карточки товара
$bg-catalog: #94a3c3 // фон кнопок у каталога
$quantity-bdr: #bdc2c9 // цвет бордера у количества товаро
$feedback-brd: #dddddd // цвет бордера у отзывов


body
  font-family: 'Open Sans', sans-serif
  color: $black
  font-size: 14px

a
  outline: none
  color: $link-default

/* выравнивание блоков по высоте*/
.row-flex
  display: flex
  flex: 1 1 auto
  > div[class*='col-']
    display: flex
    flex: 1 1 auto

.row-flex-wrap
  flex-flow: row wrap
  align-content: flex-start
  flex: 0

.row-flex > div[class*='col-']
  margin: -.2px
  /* hack adjust for wrapping

/*head*/ 
.head
  border-bottom: 1px solid $head-line

.head-slogan
  margin-top: 7px
  p
    display: inline-block
    color: $blue
    margin-bottom: 9px
    &:first-child
      color: $red
      margin-right: 10px

.head-login
  margin-top: 8px
  font-size: 13px
  i
    font-size: 14px
    margin-right: 4px
    margin-left: -10px
    color: $icon-color
  a
    color: $black
    text-decoration: none
    &:hover
      text-decoration: underline

.head-tel-xs
  display: none
  margin-left: 20px
  a
    font-size: 20px
    font-weight: 700
    position: relative
    &::before
      content: "\f095"
      font-family: "FontAwesome"
      color: $icon-color
      font-size: 21px
      position: absolute
      top: 0
      left: -20px
      font-weight: 700

.head-cart
  font-size: 13px
  margin: 0
  i
    font-size: 22px
    color: $red
    margin-top: 7px
  button
    background-color: transparent
    border: none
    outline: none
    margin-top: 8px
    padding: 0
    position: relative
    span
      font-size: 11px
      color: $red
    &:hover
      color: $red
    &::before
      content: "\f07a"
      font-family: 'FontAwesome'
      color: $red
      position: absolute
      font-size: 21px
      top: -7px
      left: -28px
  .dropdown-menu
    left: auto!important
    right: 13px!important
    top: 36px!important
    width: 262px
    border-radius: 0
    border: none
    box-shadow: 1px 3px 15px 0px $cart-shadow
    padding: 0
    transform: none!important

.cart-empty
  padding: 14px
  font-size: 14px

/*head contacts*/
.head-c-logo
  padding-top: 20px
  padding-bottom: 30px

.head-c-address
  position: relative
  font-size: 16px
  padding: 15px 0 0 30px
  &::before
    content: "\f041"
    font-family: "FontAwesome"
    color: $icon-color
    font-size: 21px
    position: absolute
    top: 11px
    left: 0
  a
    display: block
    color: $red
    font-size: 11px
    font-weight: 400
    text-decoration: underline
    margin-top: 2px
    &:hover
      text-decoration: none

.head-c-phone
  display: flex
  padding-top: 20px
  padding-bottom: 20px
  .separator
    color: $time-work
    padding: 0 10px
    font-size: 16px
    font-weight: 700

.head-c-tel
  display: inline-block
  &:first-child
    margin-left: 50px
    position: relative
    &::before
      content: "\f095"
      font-family: "FontAwesome"
      color: $icon-color
      font-size: 21px
      position: absolute
      top: -5px
      left: -30px
      font-weight: 700
  a
    font-size: 16px
    font-weight: 700

.head-c-work
  font-size: 11px
  padding-top: 2px
  font-weight: 400
  color: $time-work

.red
  color: $red

.head-c-callback
  padding-top: 30px
  a
    font-size: 14px
    background-color: $red
    border-color: $red
    &:hover, &:focus, &:active
      box-shadow: none!important
      background-color: $blue!important
      border-color: $blue!important

/*Главное меню*/
.head-menu
  background-color: $blue
  border-radius: 4px
  .humburger
    display: none

/*Поиск*/
.head-menu-search
  margin-top: 8px
  .navbar
    padding: 0
  .form-inline
    flex-flow: row
    background-color: $white
    border-radius: 2px
    width: 100%
    margin-right: 10px
    input
      max-height: 28px
      border: none
      margin-right: 0!important
      font-size: 13px
      color: $imput-color
      width: 95%
      &:focus
        box-shadow: none
    button
      padding: 0 8px
      background-color: $white
      color: $blue
      font-size: 14px
      &:focus
        box-shadow: none
      &:hover
        color: $btn-s-hvr
  
/*Меню*/
.head-menu-main
  padding: 0
  a
    display: inline-block
    color: $white
    padding: 12px 12px
    text-decoration: none
    text-transform: uppercase
    &:hover
      background-color: $red

/*Категории*/
.head-categorys
  padding-top: 30px
  padding-bottom: 30px
  .col-xl-3
    max-width: 12.5%

.category-block
  text-align: center
  &-img
    display: table-cell
    vertical-align: middle
    width: 116px
    height: 116px
    border: 3px solid $white
    background: $white
    padding: 0
    margin-bottom: 12px
    box-shadow: 0px 0px 10px 0px $category-img
    transition: .2s
  &-name
    margin-top: 15px
    text-transform: uppercase
    text-decoration: underline
    font-weight: 700
    color: $blue
    transition: .2s
  &:hover
    .category-block-img
      border-color: $category-border
    .category-block-name
      color: $red

/*Сайдбар*/
aside
  padding-bottom: 20px

/*Каталог*/
.catalog
  span
    font-size: 22px
    font-weight: 700
    display: block
    padding: 9px 9px 25px 0
    border-bottom: 1px solid $brd-b
    margin-bottom: 10px
  ul
    text-transform: uppercase
    list-style: none
    margin: 0
    padding: 0
    li
      background: $bg-catalog
      margin-bottom: 1px
      position: relative
      &:first-child
        border-top-left-radius: 4px
        border-top-right-radius: 4px
      &:last-child
        border-bottom-left-radius: 4px
        border-bottom-right-radius: 4px
      a
        color: $white
        display: block
        padding: 10px 15px
    .dropdown-toggle::after
      position: absolute
      right: 15px
      top: 15px
  .dropdown-menu
    position: relative!important
    transform: none!important
    float: none
    background-color: $bg-bottom-t
    padding: 10px 0
    list-style: disc
    text-transform: none
    border: none
    border-top-left-radius: 0
    border-top-right-radius: 0
    border-bottom-left-radius: 0
    border-bottom-right-radius: 0
    li
      margin-bottom: 0
      background-color: transparent
      margin-left: 40px
      color: $bg-catalog
    a
      font-size: 14px
      color: $accent
      padding: 5px 0


/*Сертификаты*/
.sertificates
  margin-top: 20px
  a
    display: block
    margin-bottom: 5px
  img
    max-width: 100%

/*Главный контент*/
main
  padding-bottom: 20px
  h2
    font-size: 32px
    font-weight: 700
    padding-bottom: 15px
    margin: 0

/*Product-itm*/
.product-itm
  box-shadow: 0px 0px 10px 0px $itm-shadow
  padding: 15px 14px
  margin-top: 15px
  margin-bottom: 15px
  height: 490px
  display: flex
  flex-direction: column
  justify-content: space-between
  &:hover
    outline: 1px solid $product-itm
    box-shadow: none

.thumbnail
  position: relative
  img
    max-width: 100%
  .quick-view-link
    display: none
    background: $bg-quick-view
    width: 130px
    height: 130px
    border-radius: 50%
    text-align: center
    position: absolute
    top: 50%
    left: 50%
    margin-top: -65px
    margin-left: -65px
    color: $white
    font-size: 13px
    padding-top: 65px
    &::before
      content: "\f064"
      font-size: 30px
      font-family: "FontAwesome"
      color: $white
      position: absolute
      top: 20px
      left: 54px
  &:hover
    .quick-view-link
      display: block


.product-name
  padding: 10px 0
  overflow: hidden
  text-overflow: ellipsis
  a
    text-transform: uppercase
    color: $black
    font-size: 14px
    text-overflow: ellipsis

.product-rating
  a
    font-size: 12px
    color: $time-work
    text-decoration: none

.stars
  display: inline-block
  a
    font-size: 20px
  &-out
    position: relative
    color: $star-grey
    z-index: 1
  &-in
    position: absolute
    z-index: 2
    color: $star-yellow
    display: block
    top: 0
    left: 0
    bottom: 0
    overflow: hidden
    width: 0

.product-price
  display: inline-block
  font-size: 18px
  color: $red
  padding-bottom: 10px
  span
    font-size: 13px
    text-decoration: line-through
    font-weight: 400
    color: $time-work

.discont
  display: inline-block
  background: $discont-bg
  width: 34px
  height: 34px
  border-radius: 50%
  text-align: center
  line-height: 34px
  font-size: 11px
  color: $white

.product-button
  text-align: center
  .product-btn
    display: inline-block
    border: 1px solid $btn-border
    color: $product-btn
    text-decoration: none
    font-weight: bold
    font-size: 13px
    width: 49.2%
    border-radius: 4px
    margin-top: 5px
    margin-bottom: 5px
    padding: 5px
    &:hover
      color: $white
      background-color: $red
      border-color: $red
    &:nth-child(3)
      width: 100%
      background: $btn-bg-prdct
      margin-bottom: 0
      &:hover
        background-color: $accent
        border-color: $accent

/*Скидки*/
.discont-block
  position: relative
  .product-itm
    height: 410px

.discont-link
  font-size: 22px
  font-weight: 700
  display: inline-block
  margin-top: 10px

.c-plus
  position: absolute
  right: 0
  top: 15px
  padding-left: 50px
  padding-right: 10px
  font-size: 20px

/*Лидеры продаж*/
.sales-leaders
  position: relative
  margin-top: 40px
  h3
    display: inline-block
    font-size: 22px
    font-weight: 700
    margin-top: 10px
.sale-slider
  .product-itm
    height: 410px
    margin-bottom: 5px
    display: flex

/*Приглашение в магазин*/
.main-banner-link
  display: block
  width: 100%
.main-banner
  background: url(../img/banner.png) no-repeat center
  height: 162px
  border-radius: 5px
  margin: 0 auto
  width: 96.4%
  .ttl
    color: $white
    font-weight: 700
    font-size: 18px
    display: inline-block
    max-width: 420px
    text-transform: uppercase
    padding: 25px 0 15px 35px
  .cntnt
    max-width: 425px
    color: $white
    font-size: 16px
    display: inline-block
    padding: 0 0 0 35px
    span
      font-weight: bold
      font-size: 18px

/*Правила выбора*/
.bottom-text
  background: url(../img/bottom-text-bg.png) center top no-repeat $bg-bottom-t
  padding: 50px 0
  h2
    margin-bottom: 18px
  ol
    list-style-position: inside
  ul
    list-style-position: inside
  span
    font-weight: 700

/*Блок обратной формы*/
.bottom-callback
  padding: 45px 0 70px

.callback-form-block
  background: url(../img/bg-callback-form.png) no-repeat
  padding: 35px
  width: 100%

.pre-text
  margin-bottom: 20px
  p
    margin: 0 0 10px
    span
      font-size: 22px
      font-weight: 700
      color: $popup-bg

.form-callback
  background: $popup-bg
  width: 800px
  form
    padding: 15px 30px
    .fluid
      width: 30%
      display: inline-block
      &-btn
        text-align: center
    input
      width: 95%
      padding-left: 4px
  .btn-cb
    background: $red
    opacity: 0.75
    color: $white
    cursor: pointer
    border: none
    border-radius: 3px
    padding: 7px 0px
    width: 150px
    transition: 0.2s
    &:hover, &:active, &:focus
      opacity: 1
      outline: none

/*Условия*/
.bottom-conditions
  background: $bg-bottom-t
  padding: 65px 0 35px 0
  font-size: 13px
  color: $imput-color
  &-itm
    h3
      font-weight: 700
      font-size: 18px
      padding-bottom: 15px
      color: $h3-conditins
    p
      margin: 0 0 10px

/*Условия в сайдбаре*/
.sidebar-conditions
  padding: 20px 0 35px 0
  font-size: 13px
  color: $imput-color
  &-itm
    h3
      font-weight: 700
      font-size: 18px
      padding-bottom: 5px
      color: $h3-conditins
    p
      margin: 0 0 10px

.conditions
  &-ship
    background: url(../img/icon-ship.png) 0 0 no-repeat;
    background-size: 80px
    padding-top: 90px
    padding-bottom: 15px
  &-pay
    background: url(../img/icon-pay.png) 0 0 no-repeat;
    background-size: 80px
    padding-top: 90px
    padding-bottom: 15px
  &-garantie
    background: url(../img/icon-garantie.png) 0 0 no-repeat;
    background-size: 80px
    padding-top: 90px
    padding-bottom: 15px


/*Преимущества*/
.bottom-feature
  padding: 55px 0 35px 0
  font-size: 13px
  text-transform: uppercase
  display: flex
  justify-content: space-around
  flex-wrap: wrap
  &-item
    width: 158px

.feature
  &-diler
    background: url(../img/icon-diler.png) 15px 0 no-repeat
    padding-top: 75px
    padding-bottom: 15px
  &-back
    background: url(../img/icon-back.png) 15px 0 no-repeat
    padding-top: 75px
    padding-bottom: 15px
  &-garantie
    background: url(../img/icon-garantie-2.png) 15px 0 no-repeat
    padding-top: 75px
    padding-bottom: 15px
  &-clients
    background: url(../img/icon-clients.png) 15px 0 no-repeat
    padding-top: 75px
    padding-bottom: 15px
  &-quantity
    background: url(../img/icon-quantity.png) 15px 0 no-repeat
    padding-top: 75px
    padding-bottom: 15px
  &-bestprice
    background: url(../img/icon-money.png) 15px 0 no-repeat
    padding-top: 75px
    padding-bottom: 15px
  &-supplier
    background: url(../img/icon-box.png) 15px 0 no-repeat
    padding-top: 75px
    padding-bottom: 15px

/*Футер*/
footer
  background: $bg-footer
  color: $white
  padding-top: 25px

.footer-logo
  padding-top: 25px

/*Рассылка*/
.footer-letter
  background: url(../img/bg-newsletter.png) 0 0 no-repeat $red
  border-radius: 1px
  padding: 20px 35px
  margin-bottom: 15px
  form
    .fl-wr
      display: flex
      align-items: center
      .fl-text
        display: inline-block
        width: 37%
        span
          font-weight: 700
      .fl-i-t
        display: inline-block
        width: 44%
        input
          width: 95%
          padding: 5px 12px
          font-size: 13px
      .fl-submit
        display: inline-block
        .btn-letter
          border-radius: 4px
          background: $accent
          border: none
          color: $white
          padding: 6px 12px
          &:focus
            outline: none
          &:hover
            cursor: pointer
            background: $bg-footer

.maling
  position: relative
  padding-bottom: 20px
  span
    font-size: 22px
    font-weight: 700
.mail-plus
  position: absolute
  right: 0
  top: 0
  padding-left: 50px
  padding-right: 10px
  font-size: 20px
  color: $white

/*Footer-menu*/
.footer-menu
  padding-top: 10px
  border-right: 1px solid $accent
  display: flex
  flex-wrap: wrap
  ul
    display: inline-block
    list-style: none
    padding-left: 10px
    padding-right: 15px
    border-right: 1px solid $accent
    li
      padding: 0 0 7px 0
    a
      color: $white
      text-transform: uppercase
    &:last-child
      border-right: none

/*Контакты*/
.footer-tel
  display: flex
  &-block
    display: inline-block
    &:first-child
      margin-left: 18px
      position: relative
      &::before
        content: "\f095"
        font-family: "FontAwesome"
        color: $white
        font-size: 18px
        position: absolute
        top: 0px
        left: -30px
        font-weight: 700
    a
      font-size: 16px
      color: $white
    .f-separator
      padding: 0 6px
      font-size: 18px
  &-time
    font-size: 11px
    padding-top: 5px

.footer-callback
  display: inline-block
  margin-top: 5px
  &-btn
    color: $white
    background: $red
    border-radius: 4px
    padding: 6px 7px
    font-size: 13px
    &:focus
      outline: none
    &:hover
      background: $accent
      color: $white
      text-decoration: none

/*Адрес*/
.footer-address
  position: relative
  font-size: 16px
  padding: 15px 0 0 18px
  &::before
    content: "\f041"
    font-family: "FontAwesome"
    color: $white
    font-size: 21px
    position: absolute
    top: 11px
    left: -13px
  a
    display: block
    color: $btn-border
    font-size: 14px
    font-weight: 400
    margin-top: 2px

/*соц.сети*/
.footer-social
  margin-top: 10px
  ul
    list-style: none
    padding-left: 21px
    li
      display: inline-block
      margin-right: 4px
      margin-bottom: 7px
      a
        display: inline-block
        font-size: 18px
        background-color: $btn-border
        width: 30px
        height: 30px
        color: $accent
        text-align: center
        line-height: 30px
        border-radius: 15px

.footer-map
  text-align: right
  a
    color: $white
    text-decoration: underline
    &:hover
      text-decoration: none

.copyright
  padding-top: 15px
  background-color: $accent
  font-size: 13px
  margin-top: 20px
  a
    color: $white

/*Lightbox*/
.lightboxOverlay
  background-color: $overlay

/*Popus*/
/*Обратный звонок*/
.modal-backdrop
  background-color: $popup-bg

.popup-close
  position: absolute
  right: 15px
  top: 15px
  width: 24px
  height: 24px
  border: 1px solid $white!important
  border-radius: 50%
  text-align: center
  span
    text-shadow: none
    color: $white
    box-shadow: none
    position: absolute
    top: 2px
    left: 6px
    font-size: 20px
  &:hover
    outline: none
    border-color: $red!important
    span
      color: $red

.head-c-popup
  text-align: center
  color: $white
  background: $popup-bg
  padding: 20px 40px 40px 40px
  h5
    font-size: 32px
    font-weight: 700
    text-transform: uppercase
  p
    font-size: 13px
    color: $popup-p
    margin-top: 15px
  label
    display: block
    text-align-last: left
    margin-top: 20px
    input, textarea
      margin-top: 15px
      width: 100%
      padding: 6px 12px
      font-size: 13px
      color: $imput-color
      &::placeholder
        color: $imput-color

.btn-popup
  font-size: 14px
  background-color: $red
  border-color: $red
  padding: 6px 40px
  box-shadow: none
  margin-top: 15px
  &:hover, &:focus, &:active
    box-shadow: none!important
    background-color: $blue!important
    border-color: $blue!important
  &:active
    box-shadow: inset 0 3px 5px $internal-shadow!important

/*Быстрая покупка*/
.quick-bay-block
  font-size: 13px
  .bg-blue
    background-color: $popup-bg
    color: $white
    text-align: center
    h5
      text-transform: uppercase
      font-size: 32px
      padding-top: 12px
      padding-bottom: 9px
      font-weight: 700
  input,textarea
    width: 100%
    border-radius: 1px
    border: 1px solid $btn-border
    font-size: 13px
    padding: 6px 12px
    margin-bottom: 20px
    color: $imput-color
    &::placeholder
      color: $imput-color
  .btn-quick
    color: $white
    background-color: $red
    border-color: $red
    border-radius: 4px
    width: 96%
    &:hover, &:focus, &:active
      box-shadow: none!important
      background-color: $blue!important
      border-color: $blue!important
    &:active
      box-shadow: inset 0 3px 5px $internal-shadow!important
  p
    font-size: 14px
    margin-bottom: 10px
    span
      color: $red
    &:last-child
      margin-bottom: 0

.quick-body
  padding: 20px 30px 30px

.media
  .media-img
    border: 3px solid $red
    width: 96px
    height: 96px
    margin-bottom: 10px
    .mr-3
      width: 90px
      height: 90px
  .mt-0
    font-size: 16px

.cheaper
  .quick-body
    background-color: $popup-bg
    color: $white

.question
  h5
    font-size: 30px
  p
    font-size: 16px
    margin-bottom: 0
  label
    margin-top: 10px
    input
      margin-top: 10px
    textarea
      margin-top: 10px

/*Кнопка "Наверх"*/
.scrollup
  position: fixed
  right: 20px
  bottom: 30px
  width: 60px
  height: 60px
  background: $red
  text-align: center
  color: $white
  font-size: 50px
  line-height: 24px
  opacity: 0.4
  border-radius: 50%
  transition: .4s
  display: none
  &:hover
    opacity: 1
    color: $white

/*Хлебные крошки*/
main
  // background-color: #0a0
.breadcrumb
  background-color: transparent
  padding-left: 0
  padding-right: 0
  span
    margin-right: 5px
    color: $time-work
    &::after
      content: "»"
      margin-left: 5px
    &:last-child
      &::after
        content: ""
        margin-left: 0
    a
      color: $time-work

/*Карточка продукта*/
.product-card
  border-bottom: 1px solid $red
  padding-bottom: 30px
  margin-bottom: 20px
  h1
    margin-bottom: 35px
    text-transform: uppercase
    font-size: 32px
    font-weight: 700
    text-align: center

.product-slider
  &-block
  &-img
    box-shadow: 0px 0px 10px 0px $category-img
    padding-top: 10px
    padding-left: 10px
    a
      display: block
      img
        width: 100%

.product-slider
  margin-top: 20px
  margin-left: auto
  margin-right: auto
  max-width: 400px
  div
    text-align: center
    a
      display: block
      img
        width: 80px
        box-shadow: 0px 0px 10px 0px $category-img
        margin-top: 1px
        margin-bottom: 1px
        margin-left: 10px
  .slick-prev:before, .slick-next:before
    color: $accent

/*Product-data*/
.product-data
  .article
    display: inline-block
    vertical-align: top
    width: 50%
  .product-rating
    display: inline-block
    vertical-align: top
    .product-feedback
      display: block
  &-price
    border-top: 1px solid $red
    border-bottom: 1px solid $red
    margin-top: 5px
    p
      text-align: right
      margin-top: 10px
      margin-bottom: 0
      a
        text-decoration: underline
        color: $red
        &:hover
          text-decoration: none
    div
      font-size: 30px
      font-weight: 700
      padding-bottom: 5px
      color: $discont-bg
      span
        display: block
        font-size: 15px
        font-weight: 400
        color: $time-work
        text-decoration: line-through

/*Количество товара*/
.product-quantity
  p
    margin-top: 8px
    margin-bottom: 20px
  .minus, .plus
    font-size: 14px
    color: $black
    cursor: pointer
    margin-right: 3px
    vertical-align: middle
    border: 1px solid $quantity-bdr
    width: 35px
    height: 35px
    line-height: 32px
    padding: 0 6px
    text-align: center
    border-radius: 18px;
    background-color: transparent
    &:focus
      outline: none
  .quantity-num
    width: 35px
    height: 35px
    border: 1px solid $quantity-bdr
    font-size: 13px
    color: #666
    line-height: 27px
    padding: 0 6px
    text-align: center
    margin-right: 3px

.product-data-buttons
  text-align: center
  a
    display: block
    width: 100%
    text-transform: uppercase
    font-size: 15px
    padding: 6px
    color: $product-btn
    border: 1px solid $btn-border
    margin-top: 20px
    border-radius: 4px
    &:hover
      color: $white
      background-color: $red
      border-color: $red
      text-decoration: none
    &:last-child
      color: $white
      background-color: $red
      border-color: $red
      margin-top: 15px
      &:hover
        background-color: $accent
        border-color: $accent

.product-popups-btn
  margin-top: 80px
  a
    font-size: 13px
    color: $red
    display: block
    margin-bottom: 5px

.product-text
  margin-bottom: 20px

/*Теги*/
.tags
  border-top: 1px solid $red
  padding-top: 40px
  margin-bottom: 10px
  h3
    font-weight: 700
    text-transform: uppercase
    font-size: 24px
    color: $link-default
    margin-bottom: 20px
  a
    &::after
      content: ","
    &:last-child
      &::after
        content: ""

/*Отзывы*/
.peaple-feedback
  margin-bottom: 20px
  h3
    color: $link-default
    font-weight: 700
    text-transform: uppercase
    font-size: 23px
    padding: 20px 0 15px
.feedback-text
  padding: 15px 25px
  border: 1px solid $feedback-brd
  position: relative
  &:after
    display: block
    content: ''
    width: 14px
    height: 9px
    background: url(../img/corner1.png) 0 0 no-repeat
    position: absolute
    left: 25px
    bottom: -9px
  p
    font-size: 13px
  .product-rating
    display: inline-block
.review-author
  text-transform: uppercase
  color: $red
  padding: 25px 0 25px 25px
.write-feed
  display: inline-block
  color: #0033cc
  padding: 6px 12px
  border: 1px solid #6590ff
  border-radius: 4px
  font-size: 13px
  &:hover
    text-decoration: none
    color: $white
    background-color: $red
    border-color: $red

.recommendation
  h2
    margin-top: 15px

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px)
  /*head*/
  .head-slogan
    p
      display: block
      &:first-child
        margin-bottom: 0
  
  .head-login
    margin-top: 18px
  
  .head-cart
    button
      margin-top: 18px

  /*head-contacts*/
  .head-c
    margin-bottom: 20px
  .head-c-address
    font-size: 15px
  
  .head-c-phone .separator
    padding: 0 6px
  
  .head-c-tel
    &:first-child
      margin-left: 35px
    a
      font-size: 15px

  /*Главное меню*/
  .head-menu-main ul li
    &:first-child
      display: none
    a
      padding: 12px 7px

  /*Product-itm*/
  .product-itm
    height: 455px

  .product-name
    a
      font-size: 12px
  
  .product-rating
    margin-bottom: 2px

  .product-price
    font-size: 14px
    span
      font-size: 10px
  
  .discont
    width: 30px
    height: 30px
    line-height: 30px

  .product-button .product-btn
    width: 49%

  /*Приглашение в магазин*/
  .main-banner
    .cntnt
      max-width: 414px

  /*Правила выбора*/
  .bottom-text
    h2
      font-size: 29px

  /*Преимущества*/
  .bottom-feature-item
    margin: 5px

  /*Footer-menu*/
  .footer-menu
    padding-bottom: 15px
    ul
      border-right: none
      margin-bottom: 0

  /*Карточка товара*/
  .product-slider
    max-width: 355px

  .product-popups-btn
    margin-top: 40px
    a
      margin-bottom: 2px

  

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
  /*head*/
  .head-cart 
    button span
      display: block
      margin-top: -5px
    .dropdown-menu
      top: 57px!important

  /*head-contacts*/
  .head-c-logo
    text-align: center
    padding-top: 15px
    padding-bottom: 0

  .head-c-phone
    padding-top: 10px

  /*Категории*/
  .head-categorys .col-xl-3
      max-width: 25%
  
  .category-block
    margin-bottom: 30px
    &-img
      width: 150px
      height: 150px
    &-name
      font-size: 13px

  /*Приглашение в магазин*/
  .main-banner
    .ttl
      padding: 20px 0 15px 15px
      font-size: 14px
      max-width: 325px
    .cntnt
      padding: 0 0 0 15px
      font-size: 13px
      max-width: 272px
      span
        font-size: 15px

  /*Блок обратной формы*/
  .callback-form-block
    background: url(../img/bg-callback-form991.png) no-repeat
  .form-callback
    width: 100%

  /*Футер*/
  .footer-logo
    margin: 0 0 40px 0

  .footer-letter
    padding: 20px 25px

  .fl-text
    padding-right: 15px

  /*Footer-menu*/
  .footer-menu
    border-right: none
    ul
      border-right: 1px solid $accent
      margin-bottom: 1rem

  .footer-tel-block
    &:first-child
      margin-left: 10px
      &::before
        left: -18px

  .footer-address
    padding-left: 10px
    &::before
      font-size: 19px
      left: -5px

  .footer-social ul li:last-child
    margin-right: 0

  .copyright
    margin-top: 20px

  /*Хлебные крошки*/
  .breadcrumb
    font-size: 13px

  /*Product-data*/
  .product-data
    .article
      width: 100%
      margin-bottom: 10px
  .product-slider
    width: 240px
  .product-card h1
    font-size: 28px

  .recommendation
    h2
      font-size: 30px

/* Small Devices, Tablets */
@media only screen and (max-width : 767px)
  /*head*/
  .head-menu .humburger
    display: inline-block
  .head-cart 
    button
      margin-bottom: 10px
      span
        display: inline-block
        margin-top: 0
    .dropdown-menu
      top: 46px!important
  
  /*head-contacts*/
  .head-c-phone
    padding-top: 20px

  .head-c-tel:first-child
    margin-left: 30px
  
  .head-c-tel a
    font-size: 16px
  
  .head-c-callback
    padding-top: 0

  /*Главное меню*/
  /*Поиск*/
  .head-menu-search
    display: flex
    margin-top: 0
    margin-right: -3px
    .navbar
      width: 100%

  /*меню*/
  .head-menu-main
    border-top: 1px solid $border-menu-1
    button:focus
      outline: none
    ul
      li
        &:first-child
          display: inline-block
        a
          padding: 9px 20px
          text-transform: none
          width: 100%
    .dropdown-menu
      background: $blue
      font-size: 14px
      padding: 0
      // display: block // временно
      li
        width: 100%
        a
          padding-left: 30px
        .dropdown-menu
          a
            padding-left: 40px

  .brd
    border-top: 1px solid $border-menu-2
    // display: block!important // временно

  .dropdown-toggle::after
    position: absolute
    top: 15px
    right: 15px

  .humburger
    width: 50px
    height: 45px
    position: relative
    display: inline-block
    &:focus
      outline: none
    span
      position: absolute
      top: 50%
      left: 50%
      margin-top: -1px
      margin-left: -15px
      width: 30px
      height: 4px
      background-color: $white
      &::before, &::after
        position: absolute
        top: 50%
        left: 50%
        margin-top: -3px
        margin-left: -15px
        width: 30px
        height: 4px
        background-color: $white
      &::before, &::after
        content: ''
        display: block
        transition: 0.2s
      &::before
        transform: translateY(-8px)
      &::after
        transform: translateY(10px)
  .hum-active span
    height: 0
    &::before
      transform: rotate(45deg)
    &::after
      transform: rotate(-45deg)

  /*Категории*/
  .head-categorys .col-xl-3
      max-width: 50%

  /*Product-itm*/
  .product-itm
    height: auto!important

  .thumbnail
    text-align: center
    img
      // max-width: 480px

  .product-name
    a
      font-size: 14px

  .product-price
    font-size: 18px
    span
      font-size: 13px
  
  .discont
    width: 34px
    height: 34px
    line-height: 34px

  .product-button .product-btn
    width: 49.5%
    
  .discont-block
    margin-top: 20px

  /*Скидки и Лидеры продаж*/
  .brd-btm
    display: block
    border-bottom: 1px solid $brd-b
    padding-bottom: 15px

  /*Правила выбора*/
  .bottom-text
    font-size: 13px
    h2
      font-size: 25px

  /*Блок обратной формы*/
  .callback-form-block
    padding: 18px
  .pre-text
    p
      font-size: 13px
      margin-bottom: 5px
      span
        font-size: 17px
  .form-callback
    form
      padding: 10px 20px
      .fluid
        width: 35%
        &-btn
          width: 20%
        input[placeholder]
        font-size: 12px
    .btn-cb
      width: 80px
      font-size: 12px
      padding: 5px 0

  /*Преимущества*/
  .bottom-feature-item
    width: 47%
    margin: 5px

  /*Футер*/
  .footer-letter
    form
      .fl-wr
        display: block
        position: relative
        .fl-text
          width: 50%
          margin-bottom: 20px
        .fl-i-t
          width: 50%
          position: absolute
          top: 16px
          input
            width: 100%
        .fl-submit
          display: block
          input
            width: 100%

  /*Footer-menu*/
  .footer-menu
    ul
      border-right: none
      margin-bottom: 0

  /*Кнопка "Наверх"*/
  .scrollup
    left: 20px

  /*Слидер*/
  .product-slider
    max-width: 400px

/* Extra Small Devices, Phones */
@media only screen and (max-width : 575px)
  /*Контакты*/
  .footer-tel
    display: block
    position: relative
    &-block
      display: block
      margin-left: 10px
      .f-separator
        display: none
    &-time
      position: absolute
      left: 0
      top: 42px

  /*Адресс*/
  .footer-address
    margin-top: 15px

  .footer-social
    margin-top: 30px

  /*Карточка товара*/
  .product-popups-btn
    margin-top: 25px
    a
      margin-bottom: 0


/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px)
  /*head*/
  .head
    position: fixed
    background-color: $white
    width: 100%
    z-index: 99
  /*head-login*/
  .head-login
    display: none

  .head-tel-xs
    display: flex
    align-items: center
    height: 100%

  .head-cart button
    margin-top: 10px
  
  /*head-contacts*/
  .head-c-phone .separator
    padding: 0 1px

  /*Главное меню*/
  .head-menu-main button
    left: 10px

  /*Категории*/
  .category-block-img
    width: 116px
    height: 116px

  /*Обратный звонок*/
  .head-c-popup
    padding: 40px 20px 25px 20px
    h5
      font-size: 25px
    p
      font-size: 12px
    label
      margin-top: 13px
    input
      margin-top: 5px

  .btn-popup
    margin-top: 10px

  /*Быстрый звонок*/
  .quick-bay-block
    .bg-blue
      h5
        font-size: 22px
    .media .mt-0
      font-size: 15px
    input
      margin-bottom: 15px
    p
      font-size: 12px
      margin-bottom: 8px
  .quick-body
    padding: 20px 20px 20px

  /*Product-itm*/
  .product-button .product-btn
    width: 49.3%

  /*Приглашение в магазин*/
  .main-banner
    background: url(../img/banner479.png) no-repeat center

  /*Правила выбора*/
  .bottom-text
    font-size: 12px
    h2
      font-size: 18px
      font-weight: 600

  /*Блок обратной формы*/
  .callback-form-block
    background: url(../img/bg-callback-form489.png) no-repeat
  .form-callback
    form
      padding: 15px 30px 0 30px
      .fluid
        width: 100%
      input
        width: 100%
        margin-bottom: 15px
        &[placeholder]
          font-size: 14px
    .btn-cb
      width: 150px
      font-size: 14px
      padding: 7px 0

  /*Преимущества*/
  .bottom-feature-item
    margin: 3px

  /*Футер*/
  .footer-letter
    form
      .fl-wr
        .fl-text
          font-size: 12px
          padding-right: 10px

  /*соц.сети*/
  .footer-social ul li:last-child
    margin-right: 4px

  .footer-tel-block a 
    font-size: 15px

  .footer-address
    font-size: 15px

  /*Хлебные крошки*/
  .breadcrumb
    font-size: 12px

  /*Карточка товара*/
  .product-card h1
    font-size: 21px
  .tags h3
    font-size: 20px
    margin-bottom: 10px
  /*Отзывы*/
  .peaple-feedback h3
    font-size: 20px

    .recommendation
    h2
      font-size: 28px

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
  /**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
  /**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
  /**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
  /*Скидки*/
  .collapse.dont-collapse-sm
    display: block


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
  /**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
  /**/